[submodule "projects/02-websockets"]
	path = projects/02-websockets
	url = https://github.com/manoelcampos/sd-websockets.git
[submodule "projects/03-xmpp"]
	path = projects/03-xmpp
	url = https://github.com/manoelcampos/sd-xmpp-chat-client.git
[submodule "projects/04-webservices"]
	path = projects/04-webservices
	url = https://github.com/manoelcampos/sd-webservices.git
[submodule "projects/00-programacao-funcional"]
	path = projects/00-programacao-funcional
	url = https://github.com/manoelcampos/programacao-funcional-java
[submodule "projects/01-socket-chat"]
	path = projects/01-socket-chat
	url = https://github.com/manoelcampos/sd-java-socket-chat.git
