*~$*
package-lock.json
referencias
.bundle
Gemfile.lock
*.html
*.pdf
build/
html/
node_modules

#Java Projects
*.class
target/
test/
.idea
*.iml
/projects/cadastro-soap-ejb/nbproject/private/
/projects/cadastro-rest-cli/nbproject/private/
/aulas/
projects/varios/random-words
prova*/
